/* ----- main ----- */
body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
}

header {
    margin-left: 125px;
}

p.big {
    font-size: 18px;
    line-height: 1.5;
}

.img1 {
    display: inline-block;
    margin: 10px 20px 0px 0px;
    }

.img2 {
    margin: 5px 10px 0px 0px;
}


/* ----- sections ----- */
table {
    width: 95%;
    margin-top: 100px;
    margin-left: 40px;
    border-spacing: 15px 0px;
    }

    table td {
        vertical-align: top;
}      


/* ----- navigation ----- */
nav {
    float: left;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: lightsteelblue;
    width: 100%;
}

nav ul {
    margin: 0px 0px 0px 100px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    }

    li a {
        display: block;
        color: black; 
        padding: 14px 24px 14px 28px;
        text-align: center;
        text-decoration: none;
        font-size: 21px;
    }

    li a:hover {
        background-color: white;
        color: black;
}