/* --- OVERALL --- */
body {
    font-family: 'Nunito';
    color: #252323;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

h1 {
    font-size: 28px;
}

.promo {
    background-color: #D6E9F5;
    padding: 10px;
    margin: 0;
    font-size: 12px;
}

section {
    padding: 10px 250px;
    background-color: whitesmoke;
    text-align: left;
}

select {
    font-family: 'Nunito';
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 14px;
}

input, textarea {
    font-family: 'Nunito';
    border: 1px solid gray;
    padding: 6px 12px;
    margin-bottom: 14px;
}

input:focus {
    outline: none;
    border: 1px solid #252323;
}

footer {
    margin: 25px;
    font-size: 12px;
}

/*--- LINKS ---*/
a {
    color: #252323;
    text-decoration: none;
}

a:hover {
    color: gray;
}

/*--- NAVIGATION ---*/
nav {
    border-bottom: 1px solid lightgray;
    list-style: none;
    margin: 20px auto 40px auto;
    width: 50%;
}

nav ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    padding: 5px 15px;
    display: inline-block;
}

/* --- COLUMNS --- */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}